.blogsWrapper {
    padding: 0 64px 0 24px;
}

.blogsFields {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
}

.blogsList {
    margin-bottom: 48px;
}


