.blogWrapper{
    width: 964px;
    padding-left: 24px;
}
.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 156px;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    border:5px solid #DEDBDC;
}

.container{
    display: flex;
    gap:15px;
}
.titleWrapper{
    display: flex;
    margin-bottom: 43px;
    align-items: baseline;
    padding-top: 30px;

}
.img {
    width: 35px;

}
.title{

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 32px;
}


.text {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 12px;
}

.navigateBack{

    margin-bottom: 12px;
    cursor: pointer;

}

.blogAvatar{
    width:964px;
    height: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin-bottom: 24px;
}

.imgBig {
    width: 84px;
}

.createDate{
    margin-bottom: 3px;
}

.linkWrapper{
    margin-bottom: 12px;
}